body {
    font-family: Arial, Helvetica, sans-serif;
    //background-color: white;
	background-image:url("WebLogo.png");
	background-size:auto;
	//background-repeat: no-repeat;
	padding:1em;
    //margin: 0 auto;
    //width: 50em;
	//border:0.2em solid blue;
}
header>table{
	//border:3px solid green;
	margin-left:auto;
	margin-right:auto;
}
td>h1 {
	color: blue;
	margin-top: 0;
}
main>.mainHead{
	padding:0.1em;
	margin:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:3px solid green;
}

main {
	display:flex;
	flex-direction:column;
	//float:left;
    padding: 0.5em;
	margin: 0.1em;
	background-image:url("imgs/BackgroundTemplate.jpg");
	background-size:100%;
	background-repeat: repeat;
	//border: 3px solid blue;
}
tr.heads>td{
	float:top;
	//background-color:white;
	text-align: left;
	//border:0.4em solid Black;
	padding:.5em .5em .5em .5em;
	margin: .5em .5em .5em 0em;
	background-color:lightblue;
	max-width:8em;
}

footer{
	//float:left;
	bottom:0;
	clear:both;
	border:0.1em solid black;
	margin: 0.1em 0.0em 0.0em 0.1em;
	
	padding: 0.2em;
}

.clearfix:after{
	content:".";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}

main>article {
	display:flex;
	//flex-wrap:nowrap;
	//grid-template-columns: repeat(1,1);
	//grid-template-rows: auto;
	//gap:3px;
	//row-gap:2px;
	background-color:white;
	border:.2em solid black;
	margin:0.1em auto;
	padding:0.5em auto;
	width:60%;
	//box-sizing:border-box;
	overflow:normal;
	flex-direction: column;
}
/*NEWS ARTICLE FORMATS!!!!*/

article.news{
	
}





article>h3
{
	//grid-column:2;
	//grid-row:8;
	margin:0.3em auto;
	//:top;
	float:left;
	left:50%;
}
article>img
{
	//grid-column-start: 2;
	//grid-column-end: 6;
	//grid-row-start:1;
	//grid-row-end:8;
	display:block;
	float:left;
	//clear:middle;
	//clear:left;
	//float:left;
	border: .2em solid black;
	padding:1em auto;
	min-width:3em;
	//max-height:100%;
	margin-left: auto;
	margin-right: auto;
	max-height:30em ;
	min-height:3em auto;
	max-width:30em ;
	
}
article>p
{
	//grid-column:2;
	//grid-row:3;
	clear:right;
	float:right;
	border:1px solid blue;
	display:vertical-inline;
}

.menuItemPrice
{
	//grid-column:2;
	//grid-row:3;
	margin-left:auto;
	float:right;
	text-align:right;
	display:vertical-inline;
	border:1px solid red;
}